
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
.about-section {
    background-color: gray;
}
.about-us {
    background-color: transparent;
    width: 550px;
    height: 150px; 
    margin-top: 9rem;
    margin-left: 10px;
    

}
.about-us p {
    margin-left: 20px;
    letter-spacing: 1.5px;
    

}
 .btn {
    text-align: center;
    width: 200px;
    position: relative;
    margin: 40px 20px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 70px;
    box-shadow: 3px 3px 7px gray;
}
.btn:hover {
     background-color: rgb(31, 31, 124);
     color: aliceblue;
     transition: .2s;
     transform: scale(1.1);
     
}
.image1 {
   display: flex;
   width: 500px;
   height: 450px;
   border-radius: 5px solid cyan;
   position: absolute;
   top: 95px;
   left: 750px;
   overflow: hidden;
   aspect-ratio: 20px 20px;
   
}